@page "/commands"

<PageTitle>MTG Discord Bot - Commands</PageTitle>

<h1>Commands</h1>

<ul>
    <SingleCommand Title="/search">Request a list of cards by query, see the api reference <a href='https://scryfall.com/docs/api/cards/search' target='_blank'>here</a>.</SingleCommand>
    <SingleCommand Title="/name">Request a single card by name using a fuzzy text query, see the api reference <a href='https://scryfall.com/docs/api/cards/named' target='_blank'>here</a>.</SingleCommand>
    <SingleCommand Title="/random"> Request a single card at random, allows a query to narrow choices, see the api reference <a href='https://scryfall.com/docs/api/cards/random' target='_blank'>here</a>.</SingleCommand>
    <SingleCommand Title="/autocomplete">Returns names of cards that could be releated to given input, see the api reference <a href='https://scryfall.com/docs/api/cards/autocomplete' target='_blank'>here</a>.</SingleCommand>
    <SingleCommand Title="/help">Loads the Help Command, shows latency, uptime, search system help, and a link to join the support server.</SingleCommand>
    <SingleCommand Title="Fulltext Search System">You can narrow down your search queries in all commands by using scryfall's <a href='https://scryfall.com/docs/syntax' target='_blank'>search reference</a>.</SingleCommand>
</ul>