@page "/"

<PageTitle>MTG Discord Bot</PageTitle>

<div style="margin: auto;text-align:center;">
    <h1>Magic the Gathering Discord Bot</h1>
    <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=1027575224029417574&permissions=139586717696&scope=applications.commands%20bot">Invite to your Server</a>
</div>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@