@page "/"

<PageTitle>MTG Discord Bot</PageTitle>

<div class="center-container">
    <h1>Magic Card Searcher</h1>
    <img src="./favicon.png" alt="">
    <p>A Discord bot that searches <a target="_blank" href="https://scryfall.com/docs/api">Scryfall's Database</a> to find Magic the Gathering card names, card data and card imagery.</p>
    <div>
        <a class="btn btn-primary" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=1027575224029417574&permissions=139586717696&scope=applications.commands%20bot">Invite the Bot!</a>
        <a class="btn btn-secondary" target="_blank" href="https://discord.gg/6H82MnWSTW">Support Server!</a>
    </div>
    
</div>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@